.nav {
    display: flex;
    justify-content: space-between;
    background-color: #333;
    padding: 0 20px;
}

.menu-left,
.menu-right {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.menu-left li,
.menu-right li {
    margin: 0;
}

.nav a {
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
}

.nav a:hover {
    background-color: #555;
}